<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859530879750-snpfh8ijgmtf0p3479nmdc4ffkb1a9oo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859530879750-snpfh8ijgmtf0p3479nmdc4ffkb1a9oo</string>
	<key>API_KEY</key>
	<string>AIzaSyAE-NE2TAG8wqA-dkatekGW29xf7CLcpGY</string>
	<key>GCM_SENDER_ID</key>
	<string>859530879750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zooey.Gilgaon</string>
	<key>PROJECT_ID</key>
	<string>gilgaon-398fc</string>
	<key>STORAGE_BUCKET</key>
	<string>gilgaon-398fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859530879750:ios:0bb322a965bde42d46b487</string>
</dict>
</plist>